Source: exude
Priority: optional
Maintainer: Conformal Systems LLC <package-discuss@conformal.com>
Build-Depends: debhelper (>= 7), libc6-dev, locales
Standards-Version: 3.8.3
Section: libs
Homepage: http://opensource.conformal.com/wiki/exude

Package: libexude-dev
Section: libdevel
Architecture: any
Depends: clens-dev (>= 0.0.5), libexude2 (= ${binary:Version})
Description: Simple to use memory debugger library for C - development
 This package contains the libraries, include files, and documentation
 to develop applications with exude.
 exude is a simple to use memory debugger. The idea is to enhance standard
 memory allocation calls with simple replacements that add just a little more
 functionality, such as keeping track if memory was previously allocated, to
 prevent common errors such as double free, memory leaks etc.

Package: libexude2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple to use memory debugger library for C - runtime
 This package contains the runtime, shared library of exude.
 exude is a simple to use memory debugger. The idea is to enhance standard
 memory allocation calls with simple replacements that add just a little more
 functionality, such as keeping track if memory was previously allocated, to
 prevent common errors such as double free, memory leaks etc.
