Source: exude
Priority: optional
Maintainer: Conformal Systems LLC <package-discuss@conformal.com>
Build-Depends: debhelper (>= 9), libclog-dev, libclens-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://opensource.conformal.com/wiki/exude

Package: libexude-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libclens-dev (>= 0.0.5), libexude3 (= ${binary:Version})
Description: Simple to use memory debugger library for C - development
 This package contains the libraries, include files, and documentation
 to develop applications with exude.
 exude is a simple to use memory debugger. The idea is to enhance standard
 memory allocation calls with simple replacements that add just a little more
 functionality, such as keeping track if memory was previously allocated, to
 prevent common errors such as double free, memory leaks etc.

Package: libexude3
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple to use memory debugger library for C - runtime
 This package contains the runtime, shared library of exude.
 exude is a simple to use memory debugger. The idea is to enhance standard
 memory allocation calls with simple replacements that add just a little more
 functionality, such as keeping track if memory was previously allocated, to
 prevent common errors such as double free, memory leaks etc.
